@font-face {
  font-family: "iconfont"; /* Project id 2956193 */
  src: url('iconfont.woff2?t=1637568558815') format('woff2'),
       url('iconfont.woff?t=1637568558815') format('woff'),
       url('iconfont.ttf?t=1637568558815') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-more_android_light:before {
  content: "\e7e3";
}

.icon-round_comment_light:before {
  content: "\e7fd";
}

.icon-like:before {
  content: "\e669";
}

